<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atleta</title>
</head>
<body>
    <h1>Digite os dados do atleta:</h1>
    <form action="" method="post">
        <input th:if="${atleta != null}" type="hidden" name="_method" value="put">
        <input type="hidden" name="id" th:value="${atleta?.id}">

        Nome: <input name="nome" th:value="${atleta?.getNome()}"> <br>
        Idade: <input name="idade" th:value="${atleta?.getIdade()}"> <br>
        Peso: <input name="peso" th:value="${atleta?.getPeso()}"> <br>
        Altura: <input name="altura" th:value="${atleta?.getAltura()}"> <br>

        <label>Equipe:</label>
        <select name ="equipe">
        <option th:value="0"> SEM EQUIPE </option>
        <option th:each="equipe: ${equipes}"
                th:selected="${atleta?.getEquipe()?.getId() == equipe.getId()}"
                th:value="${equipe.getId()}" th:text="${equipe.getNome()}"></option>
        </select>

        <input type="submit" value="enviar">
    </form>
</body>
</html>